:root {
  --swiper-pagination-bullet-width: 0.12rem;
  --swiper-pagination-bullet-height: 0.12rem;
  --swiper-pagination-color: #7680dd;
  --swiper-pagination-bullet-inactive-color: #d9dbef;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.12rem;
  --swiper-pagination-bottom: 0.64rem;
}
